<div class="col">
  <div class="card h-100" data-controller="icons" data-icons-liked-value="<%= user_signed_in? && current_user.likes.exists?(recommendation: recommendation) %>" data-icons-recommendation-id-value="<%= recommendation.id %>">
    <div id="carousel<%= recommendation.id %>" class="carousel slide card-img-container">
      <%# Show indicators when more than 1 photo are attached %>
      <% if recommendation.photos.attached? && recommendation.photos.length > 1 %>
        <div class="carousel-indicators">
          <% recommendation.photos.each_with_index do |photo, index| %>
            <button type="button" data-bs-target="#carousel<%= recommendation.id %>" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index + 1 %>"></button>
          <% end %>
        </div>
      <% end %>
      <div class="carousel-inner">
        <% if recommendation.photos.attached? %>
          <% recommendation.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <%= cl_image_tag photo.key, width: 800, crop: "scale", class: "d-block object-fit-cover", alt: recommendation.name %>
            </div>
          <% end %>
        <% else %>
          <div class="carousel-item active">
            <%= image_tag "#{recommendation.recommendation_type}.png", class: "d-block object-fit-cover bg-white" %>
          </div>
        <% end %>
      </div>
      <%# Show controls when more than 1 photo are attached %>
      <% if recommendation.photos.attached? && recommendation.photos.length > 1 %>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%= recommendation.id %>" data-bs-slide="prev">
          <div class="carousel-control-circle">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </div>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel<%= recommendation.id %>" data-bs-slide="next">
          <div class="carousel-control-circle">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </div>
        </button>
      <% end %>
      <%# TODO: add click functionality to add to favorites %>
      <a class="text-decoration-none">
        <i data-icons-target="heartIcon" class="fa-sharp fa-heart fs-5 position-absolute top-3 end-3 z-2 <%= user_signed_in? && current_user.likes.exists?(recommendation: recommendation) ? 'fa-solid' : 'fa-regular' %>" data-action="click->icons#click"></i>
      </a>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-between gap-2 mb-1">
        <h5 class="card-title text-truncate flex-grow-1"><%= recommendation.name %></h5>
        <%# Only show star and review count when there are reviews for the recommendation %>
        <% if recommendation.reviews.count != 0 && !recommendation.rating.nil? %>
          <div class="d-flex gap-1 align-items-center flex-shrink-0">
            <i class="fa-sharp fa-solid fa-star"></i>
            <p><%= recommendation.rating %>(<%= recommendation.reviews.count %>)</p>
          </div>
        <% end %>
      </div>
      <p class="card-text">
        <span class="badge rounded-pill fw-normal">
          <%= recommendation.recommendation_type %></span>
      </p>
    </div>
    <%= link_to "", recommendation_path(recommendation), class: "position-absolute top-0 bottom-0 start-0 w-100" %>
  </div>
</div>
