<div class="col">
  <div class="card h-100" data-controller="icons">
    <!-- Use a container div for the image to apply aspect ratio -->
    <div id="carousel<%= recommendation.id %>" class="carousel slide card-img-container" data-bs-ride="carousel">
      <%# TODO: check if there are more than 1 image attached %>
      <%# && @recommendation.photos.length == 1 %>
      <% if recommendation.photo.attached? %>
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
      <% end %>
      <div class="carousel-inner">
        <% if recommendation.photo.attached? %>
          <div class="carousel-item active">
            <%= cl_image_tag recommendation.photo.key, width: 800, crop: "scale", class: "d-block object-fit-cover", alt: recommendation.name %>
          </div>
        <% else %>
          <div class="carousel-item active">
            <%= image_tag "#{recommendation.recommendation_type}.png", class: "d-block object-fit-cover bg-white" %>
          </div>
        <% end %>
        <!-- Add more carousel items here if needed -->
      </div>
      <%# TODO: check if there are more than 1 image attached %>
      <%# && @recommendation.photos.length == 1 %>
      <% if recommendation.photo.attached? %>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <div class="carousel-control-circle">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </div>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <div class="carousel-control-circle">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </div>
        </button>
      <% end %>
      <%# TODO: add click functionality to add to favorites %>
      <a class="text-decoration-none">
        <i data-icons-target="heartIcon" class="fa-sharp fa-regular fa-heart fs-5 position-absolute top-3 end-3 z-2" data-action="mouseover->icons#hover mouseout->icons#unhover click->icons#click"></i>
      </a>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-between gap-2 mb-1">
        <h5 class="card-title text-truncate flex-grow-1"><%= recommendation.name %></h5>
        <%# Only show star and review count when there are reviews for the recommendation %>
        <% if recommendation.reviews.count != 0 && !recommendation.rating.nil? %>
          <div class="d-flex gap-1 align-items-center flex-shrink-0">
            <i class="fa-sharp fa-solid fa-star"></i>
            <p><%= recommendation.rating %>(<%= recommendation.reviews.count %>)</p>
          </div>
        <% end %>
      </div>
      <p class="card-text">
        <span class="badge rounded-pill fw-normal">
          <%= recommendation.recommendation_type %></span>
      </p>
    </div>
    <%= link_to "", recommendation_path(recommendation), class: "position-absolute top-0 bottom-0 start-0 w-100" %>
  </div>
</div>
