<div class="d-flex flex-column mb-4">
  <div class="d-flex flex-column gap-2 mb-2">
    <%# top section %>
    <section>
      <div class="d-flex flex-row justify-content-start align-items-center gap-2">
        <%= link_to profile_path(review.user), class: "text-decoration-none" do %>
          <div class="avatar-circle">
            <span class="initial">
              <%= user_initial(review.user) %>
            </span>
          </div>
        <% end %>
        <%= link_to review.user.user_name, profile_path(review.user), class: "underline-on-hover mb-0"  %>
        <%# Delete %>
        <% if review.user == current_user %>
          <%= link_to review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this Review?"}, class: "text-decoration-none text-danger" do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>
        <% end %>
      </div>
    </section>
    <%# stars and date %>
    <div class="d-flex flex-row gap-1 align-items-center">
      <div class="d-flex flex-row">
        <% review.rating.to_i.times do %>
          <i class="fa-sharp fa-solid fa-star review-star"></i>
        <% end %>
      </div>
      <span class="review-dot">•</span>
      <p class="review-date mb-0"><%= review.visit_date %></p>
    </div>
  </div>
  <%= review.text %>
</div>
