<h1>Show page</h1>

<ul>
  <li><%= @recommendation.name %> </li>
  <li><%= @recommendation.user.user_name %> </li>
  <li><%= @recommendation.description %> </li>
  <li><%= @recommendation.visit_date %> </li>
  <li><%= @recommendation.address %> </li>
  <li><%= @recommendation.recommendation_type %> </li>
  <li><%= @recommendation.price %> </li>
  <li><%= @recommendation.rating %> </li>
</ul>
